@using Newtonsoft.Json
@model DashboardServices.DashboardModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <pre>
            <code>
                @JsonConvert.SerializeObject(Model, Formatting.Indented)
            </code>
        </pre>
    </div>
</div>