<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IpStackAccessKey" value="bd72f9d78cdf9a9d4e86ce94f588469e"/>
    <add key="OpenWeatherMapApiKey"  value="b9c9e442efabb293bcce54beecabe2d1"/>
    <add key="TimeZoneDbApiKey" value="G74B8EFI4L4Y"/>
    <add key="NewsApiOrgApiKey" value="f19d1933bff54a48858e88f01d45f1d8"/>
  </appSettings>
</configuration>